
body{
  background-color: #FFA500;
  font-family: arial;
}

ul {
  list-style-type: none;
  padding-top: 30px;
  overflow: hidden;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.fundomenu{
  max-width: 100%;
  background-color: red
}

.menu{
  background-color: #FFD700;
}

.login .sair{
  float: right;
}

.sair{
  margin-bottom: 40px;
  margin-right: 30px;
  float: right;
}

#foto{
  margin-left: 0;
  margin-right: 100px;
}

.nav-item{
  float: left;
  background-color: #FF0000;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  display: inline-block;
}

.contato{
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  background-color: #FFD700;
}


p{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.tabelaMesa{
  margin-left: 30%;
  margin-bottom: 21%;
  overflow: auto;
  
}

table {
  background-color: #dddddd;
  font-family: arial;
  border-collapse: collapse;
  border: 2px solid #000;
  width: 50%;

}

td, th {
  border-left: 2px solid #000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #fff;
}

th{
  background-color: #dddddd;
}

button{
  color: #fff;
  background-color: #FF0000;
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}